:root {
    --a: #9368B7;
    --b: #9297C4;
    --c: #84C7D0;
}

h1 {
    color: #84c7d0a4;
    text-align: center;
    background-color: #9368b7c5;
    padding: 0%;
    margin: 19%;
    border: 10px;
    border-radius: 25%;
    border-color: #84C7D0;
}

section {
    align-content: space-around;
    background-color: #9368b788;
    margin: 20px;
    padding: 40px;
    
}

p {
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
}

body {
    align-content: space-between;
    background-color: rgb(68, 68, 68);
}

img {
    width: 30%;
}

nav {
    text-align: center;
}
footer {
    align-items: center;
}
a { 
    color: #222424e5;
    border-radius: 35%;
    padding: 9px;
    background-color: #58a074e1;
    margin: 10px;
}

.button {
    transition-duration: 0.4s;
    background-color: #9297C4;
    color: #17141a;
    border: 2px solid #84C7D0;
    padding: 16px 32px;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}

.button:hover {
    background-color: #9368B7;
    color: whitesmoke;


}

#incrementText {
    color: #9297C4;
}