:root {
    --a: #9368B7;
    --b: #9297C4;
    --c: #84C7D0;
}

h1 {
    text-decoration: #9368B7;
    text-align: center;
    background-color: #84C7D0;
}

section {
    align-content: space-around;
    background-color: #9368B7;
    margin: 20px;
    padding: 40px;
}

p {
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
}

body {
    align-content: space-between;
}

img {
    width: 30%;
}

nav {
    text-align: center;
}

.button {
    transition-duration: 0.4s;
    background-color: #9297C4;
    color: #9368B7;
    border: 2px solid #84C7D0;
    padding: 16px 32px;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}

.button:hover {
    background-color: #9368B7;
    color: whitesmoke;


}

#incrementText {
    color: black;
}